* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 450px;
}

h1 {
  text-align: center;
  margin: 0 0 24px;
}

.line {
  border: 2px solid #ccc;
  margin-bottom: 15px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #3498db;
}

button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  width: 60%;
}

p {
  margin: 20px 0 20px 10px;
  font-size: 25px;
  font-weight: 600;
}

#sentence {
  font-size: 19px;
  color: #3498db;
}
